@import url(reset.css);

body {
	font: 15px Helvetica CE Regular, Arial, Verdana, Tahoma, sans-serif;
	color: #545454;
	background: url(../images/background.png);
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
	color:#8b8a8a;
}

a:hover {
	text-decoration: none;
	color: #545454;
}

#header {
	margin-top: 4px;
	height: 114px;
	background: url(../images/header_bg.png) repeat-x; 
}

#header-content {
	margin: 0 auto;
	width: 1024px;
}

#logo {
	height: 48px;
	width: 286px;
	float: left;
	margin: 36px 0 30px 30px;
}

#menu {
	float: right;
	overflow: hidden;
	margin: -4px 24px 0px 0px;
}

#menu ul li {
	float: left;
	width: 109px;
	height: 118px;
}

#menu ul li:hover, .current {
	background: url(../images/menuhover_img.png) no-repeat;
}

.logout {
	border-left: 1px solid #c9c9c9;
}

#menu ul li a, #menu ul li a span {
	display: block;
	text-align: center; 
}

#menu ul li a {
	margin-top: 42px;
	margin-bottom: 29px;
}

#menu ul li a span {
	margin-left: 37%;
	margin-bottom: 8px;
	height: 20px;
	width: 27px;
}

#wrapper, #footer {
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
}

#upload-form {
	width: 672px;
	height: 140px;
	margin: 0 auto;
}

#upload-form h1 {
	font-size: 27px;
	color: #565555;
	font-weight: bold;
	padding-top: 35px;
	padding-bottom: 20px;

}

form {
	width: 672px;
	height: 48px;
}

input {
	outline: none;
}

.form-field {
	width: 449px;
	height: 48px;
	background: url(../images/field_image.png) no-repeat;
	float: left;
}

.text-field {
	width: 335px;
	height: 48px;
	float: left;
}

.text-field input {
	width: 319px;
	height: 30px;
	background: transparent;
	border: none;
	font-size: 16px;
	color: #8b8a8a;
	padding: 8px 5px 9px;
}

#path {
	width: 114px;
	height: 48px;
	float: right;
	position: relative; 
	overflow: hidden;
}

#path button {
	width: 93px;
	height: 33px;
	margin: 7px 9px 7px 11px;
	background: url(../images/browse_image.png) no-repeat;
	float: right;
	border: none;
}

#path .file {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(20);
	letter-spacing: 10em;
	-ms-transform: scale(20);
	opacity: 0;
	cursor: pointer;
}

.upload-button {
	width: 223px;
	height: 48px;
	float: right;
}

.upload-button input {
	width: 209px;
	height: 47px;
	padding-left: 13px;
	padding-bottom: 1px;
}

#content {
	margin: 0 auto;
	padding: 70px 16px 20px;
	width: 1037px;
	overflow: hidden;
}

.content-block {
	width: 221px;
	height: 283px;
	background: url(../images/content_img_bg.png) no-repeat;
	float: left;
	margin: 0px 10px 28px 23px;
	border: 0.5px solid #e0dfdf;
	box-shadow: 0 0 5px rgba(122, 122, 122, 0.3);
}

.photo {
	width: 203px;
	height: 197px;
	margin: 7px 7px 14px 9px;
}

.text {
	width: 221px;
	height: 22px;
	overflow: hidden;
}

.text h2 {
	width: 147px;
	height: 22px;
	float: left;
	padding-left: 18px;
	font-size: 14px;
	color: #979393;
}

.text img {
	width: 22px;
	height: 22px;
	float: right;
	padding-right: 14px;
}

.divider {
	width: 202px;
	height: 4px;
	background: url(../images/divider.png) no-repeat;
	margin: 6px auto 4px;
}

.share {
	width: 221px;
	height: 30px;
}

.share {
	width: 221px;
	height: 22px;
	overflow: hidden;
}

.share h3 {
	width: 38px;
	height: 14px;
	font-size: 13px;
	color: #9f9898;
	float: left;
	margin: 2px 2px 6px 60px;
}

.share ul {
	width: 112px;
	height: 22px;
	float: right;
	margin-right: 9px;
}

.share ul li a {
	display: block;
	width: 22px;
	height: 22px;
	background: url(../images/icon_bg.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.share ul li a:hover {
	background: url(../images/icon_hover_bg.png) no-repeat;
}

.share ul li a img {
	margin: 18% 30%;
}

#footer-content {
	margin: 0 auto;
	width: 1037px;
	padding: 13px 16px 56px;
	font-size: 13px;
	color: #8b8a8a;
}

#footer-content p {
	width: 293px;
	height: 16px;
	margin-left: 712px;
}